@model FypProject.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <h3>
                        <em>Review</em> your cart:
                    </h3>
                    <p class="button">
                        @Html.ActionLink("Check Out", "Create", "Orders")
                    </p>
                    <div id="update-message">
                    </div>
                    <table id="cart-summary" width="100%">
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Price (each)
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Items)
                        {
                            <tr id="row-@item.CartItemId">
                                <td>
                                    @Html.ActionLink(
                    "Details", "Details", new { controller = "Graphics", id = item.GraphicID }, null)
                                </td>
                                <td>
                                    $@item.Product.Price 
                                </td>
                                <td id="item-count-@item.CartItemId">
                                    @item.Count
                                </td>
                                <td>
                                    @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = item.GraphicID })
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                Total
                            </td>
                            <td></td>
                            <td></td>
                            <td id="cart-total">
                                $@Model.Total 
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <hr class="largehr">
    </div>
</section>
