
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h4 style="padding-left:1em"> Thanks For Your Feedback.</h4>
<h4 style="padding-left:1em">  We'll see what can we do for you.</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

