@model FypProject.Models.UpdateProfile

@{
    ViewBag.Title = "PublicProfile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="section pagegrey">
    <div class="container">
        <div class="page-title public-profile-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <img src="~/images/upload/member5.jpg" alt="" class="img-circle">
                    <h3>Hamza Satti</h3>
                    @*<img src="@Url.Content(Model.ImageUrl)" alt="" class="img-circle"/>
                    <h3>@Html.DisplayFor(model => model.Name)</h3>*@
                   
                    <br />
                    <br />
                    <br />

                    <h2>See why over 70,000 developers, designers, photographers and app developers trust Catalog.<br> Ready to take your marketplace to the next level?</h2>
                    <ul class="list-inline social">
                        <li><a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Follow on Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow on Dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#" title="Follow on Behance"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#" title="Follow on Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" title="Show WP's Website"><i class="fa fa-globe"></i></a></li>
                    </ul>
                    <a href="#" class="followbtn">Contact</a> <span>-</span> <a href="#" class="followbtn">Follow</a>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</section>


