
@{
    ViewBag.Title = "Update Complete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4 style="padding-left:1em"> Thanks For updating your Profile.</h4>
<h4 style="padding-left:1em">  We'll try our best to provide a perfect platform for your Products.</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


