
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4 style="padding-left:1em"> Congrats! Your Order have been Placed.</h4>
<h4 style="padding-left:1em">  Thanks For Shopping here.</h4>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
