
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body class="maintenance bundle nobg">
    <div id="wrapper">
        <section class="section single-wrap">
            <div class="container">
                <div class="page-title public-profile-title">
                    <div class="row">
                        <div class="col-sx-12 text-center">
                            <hr class="invis">
                            <br><br>
                            <h3>Maintenance Mode</h3>
                            <p>We are working on our awesome website, soon we will be online with tons of digital items!</p>
                            <ul id="datatime" class="list-inline">
                                <li><span class="days">50</span><p class="days_text">Days</p></li>
                                <li><span class="hours">40</span><p class="hours_text">Hours</p></li>
                                <li><span class="minutes">30</span><p class="minutes_text">Minutes</p></li>
                                <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                            </ul>
                            <hr class="invis">
                            <ul class="list-inline social">
                                <li><a href="#" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Share on Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                            </span> <a href="#" class="followbtn">Item Support</a>
                        </div>
                    </div>
                </div>
                <hr class="invis">
            </div>
        </section>
    </div><!-- end wrapper -->
    <!-- END SITE -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/timer.js"></script>

</body>

