
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>Our Blog <small>Trending stock photos, freebies and more..</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="page-content">
                        <div class="storelist bloglist singlepost panel panel-info">
                            <div class="panel-body">
                                <div class="form-group wow fadeIn">
                                    <img alt="" class="img-responsive img-thumbnail" src="~/images/upload/single.jpg">

                                    <div class="singleposttitle">
                                        <h4>90+ Free Web Applications for Web Designers</h4>
                                    </div>
                                    <div class="postmeta">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Collections</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 23/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                            <li><a href="#comments"><i class="fa fa-comments-o"></i> 21 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-content">
                                        <div class="dropcaps">
                                            <p>WebMarket is simply dummy text of the printing and typesetting industry. WebMarket has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing WebMarket passages, and more recently with desktop publishing software like Aldus PageMaker including versions of WebMarket.</p>
                                        </div>
                                        <p> WebMarket is simply dummy text of the printing and typesetting industry. WebMarket has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing WebMarket passages, and more recently with desktop publishing software like Aldus PageMaker including versions of WebMarket.WebMarket is simply dummy text of the printing and typesetting industry. WebMarket has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing WebMarket passages, and more recently with desktop publishing software like Aldus PageMaker including versions of WebMarket.</p>
                                        <p>Contrary to popular belief, WebMarket is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a WebMarket passage, and going through the cites of the word in classical literature, discovered the undoubtable source. WebMarket comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of WebMarket, "WebMarket dolor sit amet..", comes from a line in section 1.10.32.</p>
                                    </div><!-- end post -->
                                </div><!-- end form-group -->
                            </div><!-- end panel-body -->
                        </div><!-- end store-list -->
                        <div class="blog-list row">
                            <div class="blog-wrapper col-md-12 col-sm-12">
                                <article class="page-with-bg author-wrapper">
                                    <div class="widget-title">
                                        <h4>About Adam</h4>
                                    </div>
                                    <div class="media">
                                        <div class="about_img">
                                            <img alt="" class="img-responsive alignleft" src="~/images/upload/team_03.jpg">
                                        </div>
                                        <p>Hi all. im Ang from Istanbul. im 28 years old. I’m providing content. I’ve been in internet, social media and affiliate for too long time and its my profession. What can I say, I am the best..</p>
                                    </div>
                                    <div class="post-footer">
                                        <div class="pull-left">
                                            <a href="#" class="readmore">View all posts [..]</a>
                                        </div>
                                        <div class="pull-right">
                                            <ul class="social list-inline">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                            </ul><!-- end ul -->
                                        </div>
                                    </div>
                                </article><!-- end author-wrapper -->
                                <hr class="invis">
                                <div class="clearfix"></div>

                                <div class="comments page-with-bg">
                                    <div class="widget-title">
                                        <h4>(3) Comments - Our New Office Furniture </h4>
                                    </div><!-- end widget-title -->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img class="media-object" src="~/images/upload/team_01.jpg" alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                John DOE
                                                <span class="time-comment">
                                                    <small>21 Jun 2015</small>
                                                    <a class="btn btn-primary comment-reply btn-xs">Reply</a>
                                                </span><!-- end time-comment -->
                                            </h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempusviverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div><!-- end media -->
                                    <div class="media reply-comment">
                                        <div class="media-left">
                                            <a href="#"><img class="media-object" src="~/images/upload/team_03.jpg" alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                John DOE
                                                <span class="time-comment">
                                                    <small>21 Jun 2015</small>
                                                    <a class="btn btn-primary comment-reply btn-xs">Reply</a>
                                                </span><!-- end time-comment -->
                                            </h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempusviverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div><!-- end media -->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img class="media-object" src="~/images/upload/team_02.jpg" alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                John DOE
                                                <span class="time-comment">
                                                    <small>21 Jun 2015</small>
                                                    <a class="btn btn-primary comment-reply btn-xs">Reply</a>
                                                </span><!-- end time-comment -->
                                            </h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempusviverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div><!-- end media -->
                                </div>
                                <hr class="invis">
                                <div class="widget page-with-bg">
                                    <div class="widget-title">
                                        <h4>Leave a Comment</h4>
                                    </div><!-- end widget-title -->
                                    <div class="contact_form">
                                        <form class="row" name="contactform" method="post">
                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                <input type="text" name="name" id="name2" class="form-control" placeholder="Name">
                                                <input type="text" name="email" id="email2" class="form-control" placeholder="Email">
                                                <input type="text" name="email" id="website3" class="form-control" placeholder="Website">
                                                <textarea class="form-control" name="comments" id="comments2" rows="6" placeholder="Message Below"></textarea>
                                                <button type="submit" value="SEND" id="submit2" class="btn custombutton button--isi btn-primary"> SEND COMMENT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- end widget -->
                            </div><!-- end blog-wrapper -->
                        </div><!-- end blog-list -->

                    </div><!-- end page-content -->
                </div><!-- end col -->
                <div id="sidebar" class="col-md-3 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Subscribe Us</h4>
                        </div><!-- end widget-title -->
                        <div class="contact_form">
                            <form id="contactform" action="http://showwp.com/demos/catalog/photo-version/contact.php" name="contactform" method="post">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                                <button type="submit" value="SEND" id="submit" class="btn btn-primary"> Subscribe</button>
                            </form>
                        </div>
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Recent Posts</h4>
                        </div><!-- end widget-title -->
                        <div class="shopwidget">
                            <ul class="shop-list">
                                <li>
                                    <div class="alignleft">
                                        <img src="~/images/upload/blog_01.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">90+ Free Web App...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="~/images/upload/blog_02.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">WordPress Custom...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="~/images/upload/blog_03.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">How to Optimize...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                            </ul><!-- end blog list -->
                        </div><!-- end blogwidget -->
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Blog Categories</h4>
                        </div><!-- end widget-title -->
                        <ul class="cats">
                            <li><a href="#">Coding <span>(12)</span></a></li>
                            <li><a href="#">Design & Development <span>(21)</span></a></li>
                            <li><a href="#">Branding <span>(44)</span></a></li>
                            <li><a href="#">Social Marketing <span>(09)</span></a></li>
                            <li><a href="#">Form Elements <span>(31)</span></a></li>
                            <li><a href="#">LifeStyle <span>(41)</span></a></li>
                        </ul>
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Popular Tags</h4>
                        </div><!-- end widget-title -->
                        <div class="tags">
                            <a href="#">Decoration</a>
                            <a href="#">Art</a>
                            <a href="#">Sweet</a>
                            <a href="#">Megas</a>
                            <a href="#">Shopping</a>
                            <a href="#">Creative</a>
                            <a href="#">Furniture</a>
                            <a href="#">Swede</a>
                            <a href="#">Martin</a>
                        </div><!-- end tags -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>

